*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.Navbar{

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    font-size: 1.7rem;
        

}
.lists{
    display: flex;
    gap: 3rem;
    list-style: none;
}
.icons i{

    padding: 10px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
}
 button{
   width: 120px;
   height: 45px;
    background-color: rgba(0, 0, 255, 0.81);
    padding: 3px;
    text-align: center;
    color: #fff;
     font-size: 0.9rem;
    border: none;
    border-radius: 10px;
}
.Article{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-top: 30px;
     height: 700px;
    color: #ffffffd2;
   background-image: url('./cornell-university-82344.jpg');
   background-position-y:center;
   background-position-x: center;
   background-repeat: no-repeat;
   background-size: cover;
   

}
.left{
    padding-top: 80px;
    width: 30%;
    align-items: center;
    font-size: medium;
    margin:200px 0px 0px 50px;
  
}
.left h3{
    padding-top: 25px;
    font-size: 2rem;
}

.left p span{
    border: 1px transparent;
    width: 140px;
    font-size: 1.3rem;
    border-radius: 20px;
    font-weight: 600;
    margin-left: 10px;
    padding: 2px;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.791);
}
.left h3 span{
    width: 140px;
    font-size: 2.3rem;
    font-weight: 600;
    margin-left: 11px;
    text-align: center;
    color: rgba(0, 0, 255, 0.791);
}
.heading{
    margin-top: 50px;
    margin-left: 30px;
    padding: 10px;
    
}
.heading h3{
    font-size: 2.5rem;
   
}
.heading span{
    color: rgba(9, 9, 233, 0.883);
}
.heading p {
    margin-top: 20px;
}

.btn{
   margin-top: 30px;
   width: 200px;
}
.right img{
    height: 390px;
    width: 400px;
    border-radius: 50%;
    padding: 9px;
    border: 2px solid;
    margin-right:  100px;
    background-color: #fff;
    margin-top: 30px;
}
.second{
  margin: 100px; 
  display: flex;
  justify-content: space-between;

    
}
.courses{
display: flex;
justify-content: space-between;
gap: 3rem;
align-items: center;

}
.courses i {
    color: blue;
    padding: 10px;
    box-shadow: 0 0 5px gray;
    border-radius: 50%;
}
.courses i:hover {
 color: #fff;
 background-color: blue;
}
.card{
  
    border: none;
    box-shadow: 0 0 7px grey;
    padding: 10px;
    height: 210px;
    width: 240px;
    border-radius: 10px;
    text-align: center;
}
.courses h2{
    padding-bottom: 10px;
    margin-top: 7px;
}
.courses p {
    padding: 20px;
}
.content h1{
    margin-top: 20px;
}
.content p{
    color: rgba(0, 0, 255, 0.713);
}
.content button{
    margin-top: 50px;
    width: 200px;
}

.section3{
    display: flex;
    width: max-content;
    margin-left: 85px;
    margin-bottom: 50px;
}
.student{
    width: 170px;
    height: 200px;
    margin-left: 15px;
    border: none;
    box-shadow: 0px 0px 7px;
    border-radius: 10px;
    background-color: skyblue;
    opacity: 0.6;
    text-align: center;
    padding-top: 20px;    
}
.student h1{
    padding-top: 50px;
}

.third-img img{
    border: 10px solid white;
    border-radius: 10px;
    position:absolute;
    left: 300px;
    height: 200px;
    margin-left: 300px;
   margin-top:3px;
}
.About{
    margin:  5px 0px 0px 160px;
    width: 700px;

}
.About p{
    margin-bottom:20px ;
}
.About h1{
    margin-bottom: 20px;
}
.parent{
    display: flex;
    margin-top: 30px;
    gap: 3rem;
}
.child1 {
width: 200px;

}
.child1 img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 6px gray;
}
.child2 p i {
 border-radius: 50px;
 background-color: blue;
 color: #fff;
 padding: 5px;
 font-size: 20px;
} 
.btn1{
    width: 200px;
    margin-top: 10px;
}
.popular-courses {
    padding: 50px 80px;
    background-image: url(https://cdn.pixabay.com/photo/2017/03/02/08/58/background-texture-2110724_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}  
.last-heading{
    display: flex;
    justify-content: space-between;
}
.last-heading p {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: rgba(0, 0, 255, 0.778);
}
.last-heading button{
    padding: 10px;
    width: 200px;

}
.last-heading div h1{
    font-size: 2.5rem;
    
}
.four-cards {
display: flex;
align-items: center;
justify-content: space-between;

}
.four-cards >div {
 display: flex;
 justify-content: space-between;
 gap: 3rem;
 margin-top: 80px;
}
.img1  {
    position:relative;
    width: 400px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 20px;

}

.img1 p {
    margin-bottom: 10px;
    padding: 0 10px;
}
.img1 h4{
    padding: 10px;
    font-size: 1.3rem;
}
.img1 img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 30px;
    
}

.paraghraph {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: orangered;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
}
.logo{
    display: flex;
    justify-content: space-around;
   
    padding-bottom:10px ;
    border-bottom: 1px solid grey;
}
.logo p {
    font-size: 1rem;
    padding-top: 10px;

}
.pics img{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-top: 20px;
}
.pics{
    display: flex;
    gap: 30px;

   align-items: center;
   padding: 10px;

   padding: 11px;
}
.pics-parent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
.pics-parent h3{
    color: orangered;
}
.pics-parent h2{
    
}